dist
node_modules
.vercel
coverage
*.log
frontend/android/app/src/main/assets/public
frontend/android/app/src/main/assets/capacitor.config.json
frontend/android/app/src/main/assets/capacitor.plugins.json
frontend/android/.gradle
frontend/android/build
frontend/android/app/build
frontend/android/capacitor-cordova-android-plugins/build
